@tailwind base;
@tailwind components;
@tailwind utilities;

.panel{
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.084) 0px 10px 20px 5px;
}

button{
  width: 80px;
}