@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow: hidden;
}
.top-container{
  position: fixed;
  display: flex;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  align-items: center;
}
.panel{
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.084) 0px 5px 20px 5px;
  border: 2px solid rgb(116, 116, 116);
  cursor: pointer;
}

button{
  width: 80px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

button:hover{
  background-color: rgb(168, 250, 247);
}


.latex-content-container{
  position: absolute;
  top: 0%;
  transform: translate(-50%);
  padding: 10px 20px;
  max-width: 90vw;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.084) 0px 10px 20px 5px;
  font-family: monospace;
  border-radius: 15px;
  border: 2px solid  rgb(116, 116, 116);
  height: 50px;
  width: auto;
  overflow: scroll;
}
.slider{
  width: 100px;
  margin-left: 30px;
}
.go-button{
  background-color: rgb(255, 255, 255);
  position: fixed;
  padding: 10px 20px;
  right: 40px;
  bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.084) 0px 10px 20px 5px;
  border-radius: 15px;
  border: 2px solid  rgb(116, 116, 116);
}
.button{
  display: flex;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (max-width: 650px){
  .top-container{
    position: fixed;
    display: flex;
    top: 0px;
    left: 50px;
    transform: translateX(-50%);
    align-items: center;
    scale: 0.55;
  }
  .latex-content-container{
    scale: 0.75;
    max-width: 120vw;
  }
}

@media (max-width: 375px){
  .panel{
    scale: 0.80;
  }
  .top-container{
    left: 10px;
  }
  .latex-content-container{
    scale: 0.5;
  }
}
